@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff'),
		url('../fonts/Gilroy-Regular.ttf') format('truetype'),
		url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Gilroy-bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/*Variables*/
$font-dark: #3A3A3A;
$font-middle: #898989;
$font-light: #FFF;
$main-upper-bg: #F9F1E7;
$main-lower-bg: #FCF8F3;
$dark-button-color: #E89F71;
$light-button-color: #F6DDCC;
$bg-light: #FFF;



@mixin reg {
	 font-family: 'Gilroy', sans-serif;
}

@mixin bold {
	 font-family: 'Gilroy-bold', sans-serif;
}

html {
    font-size: 10px;
}
body {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}
 
* { 
    @include reg;
    color: $font-dark;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

button, input {
    border: none;
    outline: none;
}

button, input, a, select, textarea, div {
    &:focus {
        outline: none;
    }
}


.cover {
    margin: 0 auto;
}

.line {
    display: flex;
}

.indent {
    padding: 4rem 0;
}



/* main */

main{
	position: relative;
	//overflow: hidden;

	.lower-bg{
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $main-lower-bg;
		z-index: -2;
	}

	.upper-bg{
		left: 10%;
		width: 65%;
		height: 100%;
		position: absolute;
		background-color: $main-upper-bg;
		z-index: -2;
	}

	.upper{
		flex-wrap: wrap;
		position: relative;

		&-nav{
			margin-top: 4rem;
			width: 100%;
			align-items: center;

			&-logo{
				@include bold;
				font-size: 2.4rem;
				font-weight: 900;
				margin-right: 4rem;
				line-height: 3rem;
			}

			&-item{
				font-size: 1.6rem;
				margin-right: 4rem;
				line-height: 3rem;
			}

			&-search{
				flex-grow: 1;
				position: relative;

				.loupe{
					position: absolute;
					width: 2rem;
					height: 2rem;
					top: 50%;
					left: 1rem;
					transform: translateY(-50%);
				}

				input{
					height: 4.5rem;
					width: 70%;
					padding: 1.2rem 1rem 1.2rem 4rem;
					border-radius: 3px;
					font-size: 1.4rem;
				}

				button{
					height: 4.5rem;
					width: 5rem;
					margin-left: .5rem;
					border-radius: 3px;
					background-color: $dark-button-color;
				}

				.arrow{
					display: block;
					//height: 4.5rem;
					width: 75%;
					margin: 0 auto;
				}
			}

			&-sign{

				button{
					width: 7rem;
					height: 4.5rem;
					margin-left: 1rem;
					border-radius: 3px;
					font-size: 1.4rem;
					color: $font-light;
				}

				&-in{
					background-color: $dark-button-color;
				}

				&-up{
					background-color: $light-button-color; 
				}
			}
		}

		&-form{
			display: none;
			position: absolute;
			left: 0;
			top: 12rem;
			width: 49rem;
			height: 55rem;
			padding: 6rem;
			background-color: $bg-light;
			opacity: 0.91;
			border-radius: 3px;
			z-index: 100;

			h1{
				width: 100%;
				margin: 0 0 2rem 0;
				@include bold;
				font-size: 5.6rem;
				line-height: 120%;
			}

			p{
				margin: 0 0 5rem 0;
				font-size: 2rem;
				color: $font-middle;
				line-height: 150%;
			}

			button{
				width: 100%;
				padding: 3rem 0;
				background-color: $dark-button-color;
				border-radius: 3px;
				font-size: 2rem;
				font-weight: 600;
				color: $font-light;
			}
		}
	}

	
	.splide{
		margin-top: 12rem;
		position: relative;
		//left: 10%;
		//width: 200%;

		&__arrow{
			background-color: $dark-button-color;
			width: 5rem;
			height: 5rem;
			//position: absolute;

			svg{
				fill: $bg-light;
				width: 2.5rem;
				height: 2.5rem;
			}

			&:hover{
				transition: 0.3s;
				background-color: $light-button-color;

				svg{
					fill: $dark-button-color;
				}
			}

			&--prev{
				//position: absolute;
				
			}

			
		}

		&__pagination{
			top: -65rem;
			left: 55%;

			&__page{
				width: 1rem;
				height: 1rem;
				margin: 1rem;
			}
		}

		&__slide{
			width: 90rem;
			height: auto;
		}

		&__track{
			overflow: visible;
		}
	}
	

	

	.splide__pagination__page.is-active{
		position: relative;
		width: 2.8rem;
		height: 2.8rem;
		background-color: transparent;
		border: 2px solid $dark-button-color;

		&:before{
			width: 1rem;
			height: 1rem;
			margin: 0 auto;
			content: '';
			display: block;
			background-color: $dark-button-color;
			border-radius: 50px;
		}
	}
	
}

.splide__arrow--prev{
	//left: 0 !important;
	right: 0 !important;
}



















@media (min-width: 1200px) {
    
    .cover {
        max-width: 114rem;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    
    .cover {
        max-width: 96rem;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    
    .cover {
        max-width: 72rem;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    
    .cover {
        max-width: 54rem;
    }
}


@media (min-width: 100px) and (max-width: 575px) {
    
    .cover {
        max-width: 95%;
    }
}